<!-- Footer Mobile -->
<footer id="footerMobile" class="footer-area footer-mobile d-lg-none d-xl-none">
      
    <div class="container">
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="single-footer">
              
              <div class="pro-about">
                  <a href=""  data-toggle="collapse" data-target="#collapseFooter" aria-expanded="false" aria-controls="collapseFooter">Store</a>
                  <div class="collapse" id="collapseFooter">
                      <div class="card card-body">
                  <ul class="pl-0 mb-0">
                    <li>
                      <app-logo></app-logo>
                    </li>
                    <li> <span>1223, Main Street, Anytown New York, 38000 USA</span> </li>
                    <li><span>888 - 963 - 600</span><span><a href="#">info@example.com</a> </span> </li>
              
                  </ul>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            
              <div class="single-footer">
                  <a href=""  data-toggle="collapse" data-target="#collapseFooterOne" aria-expanded="false" aria-controls="collapseFooterOne">Info</a>
                  <div class="collapse" id="collapseFooterOne">
                      <div class="card card-body">
                      <ul class="pl-0 mb-0">
                          <li> <a href="index.html">Home</a> </li>
                          <li> <a href="blog-page1.html">Blog</a> </li>
                          <li> <a href="about-page1.html">About Us</a> </li>
                          <li> <a href="contact-page1.html">Contact Us</a> </li>
                        </ul>
                        </div>
                    </div>
                  
                </div>
          </div>
          <div class="col-12 col-lg-2">
              <div class="single-footer">
                  <a href=""  data-toggle="collapse" data-target="#collapseFooterTwo" aria-expanded="false" aria-controls="collapseFooterTwo">Our Polices</a>
                <div class="collapse" id="collapseFooterTwo">
                    <div class="card card-body">
                <ul class="pl-0 mb-0">
                    <li> <a href="#">FAQs</a> </li>
                      <li> <a href="privacy.html">Privacy Policy</a> </li>
                      <li> <a href="refund.html">Refund Policy</a> </li>
                      <li> <a href="term.html">Terms of Service</a> </li>       
                      
                </ul>
                </div>
                </div>
              </div>
            </div>
          <div class="col-12 col-lg-2">
            <div class="single-footer">
              <a href=""  data-toggle="collapse" data-target="#collapseFooterThree" aria-expanded="false" aria-controls="collapseFooterThree">My Account</a>
              <div class="collapse" id="collapseFooterThree">
                  <div class="card card-body">
              <ul class="pl-0 mb-0">
                
                <li> <a href="shop-page1.html">Shop</a> </li>
                <li> <a href="orders.html">Orders</a> </li>
                <li> <a href="cart-page1.html">Shopping Cart</a> </li>           
                  <li> <a href="wishlist.html">Wishlist</a> </li>  
              </ul>
              </div>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-lg-3">
            <div class="single-footer">
                <div class="pro-newsletter">
                    <h5>Newsletter</h5>
                    
                    <form class="form-inline">
                        <div class="search"> 
                          <input  type="search" placeholder="Your Email ...">
                          
                            <button type="button" class="btn btn-secondary">
                                <i class="fas fa-location-arrow"></i>
                            </button>
                        </div>
                        
                      </form>
                      <p>By entering your email, you agree to our Terms of Service and Privacy Policy.</p>
                </div>
                
                <div class="pro-socials">
                    <h5>Follow Us</h5>
                    <ul>
                        <li><a href="#" class="fab fb fa-facebook-square"></a></li>
                        <li><a href="#" class="fab tw fa-twitter-square"></a></li>
                        <li><a href="#" class="fab sk fa-skype"></a></li>
                        <li><a href="#" class="fab ln fa-linkedin"></a></li>
                        <li><a href="#" class="fab ig fa-instagram"></a></li>
                    </ul>
                </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-0">
          <div class="copyright-content">
              <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-12 col-sm-12">
                      <div class="footer-info">
                          &copy;&nbsp;2019 Company, Inc. <a href="privacy.html">Privacy</a>&nbsp;&bull;&nbsp;<a href="term.html">Terms</a>
                      </div>
                      
                    </div>
                </div>
              </div>
              
            </div>
      </div>

    </footer>