<div class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle">
        My Account
    </a>
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="profile.html">Profile</a>
        <a class="dropdown-item" href="wishlist.html">Wishlist&nbsp;(3)</a>
        <a class="dropdown-item" href="compare.html">Compare&nbsp;(2)</a>
        <a class="dropdown-item" href="orders.html">Orders</a>
        <a class="dropdown-item" href="shipping-address.html">Shipping Address</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
</div>
