<div class="pro-thumb">
            
    <div class="blog-date">
        30
        <small>Dec</small>
    </div>
    
    <img class="img-fluid swipe-to-top" src="assets/images/blogs/blog_post_1.jpg" alt="Image">
    
  </div>
  <div class="pro-detail">
      <h2><a href="blog-page1.html" >Woman wearing Silver-colore ring necklaces</a></h2>
    
    <p>Lorem ipsum dolor sit amet, eiusmod tempor
        incdidunt ut labore et aliqua [....]
      </p>
      <a href="blog-page1.html" class="pro-readmore" tabindex="0">Read more</a>
  </div>