<!-- //Mobile Header -->
<header id="headerMobile" class="header-area header-mobile">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <div class="container">
            <div class="pro-description">
              <div class="pro-info">
                  Get<strong> UPTO 40% OFF </strong>on your 1st order
                  <div class="pro-link-dropdown js-toppanel-link-dropdown">
                    <a href="shop-page1.html" class="pro-dropdown-toggle">
                      More details
                    </a>
                    
                  </div>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>

        </div>
    </div>
  <div class="header-mini bg-top-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
              <div class="navbar-lang">
              
                  <div class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle">
                        English
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Arabic</a>
                        
                      </div>
                    </div> 

                    <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle">
                          USD
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">$&nbsp;USD</a>
                          <a class="dropdown-item" href="#">€&nbsp;EUR</a>
                          
                        </div>
                      </div>
              </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="header-maxi bg-header-bar ">
    <div class="container">
        
      <div class="row align-items-center">
        <div class="col-2 pr-0">
            <div class="navigation-mobile-container">
                <a href="javascript:void(0)" class="navigation-mobile-toggler">
                    <span class="fas fa-bars"></span>
                </a>
                <nav id="navigation-mobile">
                    <div class="logout-main">
                        <div class="welcome">
                            <span>Welcome&nbsp;Guest !</span>
                        </div>
                        <div class="logout">
                            <a href="#" class="">Logout</a> 
                        </div>
                          
                    </div> 

                    <a class="main-manu btn" data-toggle="collapse" href="#homepages" role="button" aria-expanded="false" aria-controls="shoppages">
                        Home
                     
                    </a>
                    <div class="sub-manu collapse multi-collapse" id="homepages">
                        <ul class="unorder-list">
                          <li class="">
                            <a href="index.html" class="btn main-manu">
                              Home Page 1
                            </a>
                            <a href="index-2.html" class="btn main-manu">
                                Home Page 2
                            </a>
                            <a href="index-3.html" class="btn main-manu">
                                Home Page 3
                            </a>
                          </li>
                        </ul>
                    </div>  

                    <a class="main-manu btn" data-toggle="collapse" href="#shoppages" role="button" aria-expanded="false" aria-controls="shoppages">
                        Shop
                  
                    </a>
                    <div class="sub-manu collapse multi-collapse" id="shoppages">
                        <ul class="unorder-list">
                          <li class="">
                            <a href="shop-page1.html" class="btn main-manu">
                              Top Bar
                            </a>
                            <a href="shop-page2.html" class="btn main-manu">
                              Right Sidebar
                            </a>
                            <a href="shop-page3.html" class="btn main-manu">
                              Top and Right Sidebar
                            </a>
                            <a href="shop-page4.html" class="btn main-manu">
                              Left Sidebar
                            </a>
                            <a href="shop-page5.html" class="btn main-manu">
                              Top and Left Sidebar
                            </a>
                          </li>
                        </ul>
                    </div>  

                    <a class=" main-manu btn" data-toggle="collapse" href="#productpages" role="button" aria-expanded="false" aria-controls="productpages">
                      Product
                   
                    </a>
                    <div class="sub-manu collapse multi-collapse" id="productpages">
                        <ul class="unorder-list">
                          <li class="">
                            <a href="product-page1.html" class="btn main-manu">
                              Left Carousel
                            </a>
                            <a href="product-page2.html" class="btn main-manu">
                              Right Carousel
                            </a>
                            <a href="product-page3.html" class="btn main-manu">
                              Vertical Thumbnail Carousel
                            </a>
                            <a href="product-page4.html" class="btn main-manu">
                              Right Banner
                            </a>
                            <a href="product-page5.html" class="btn main-manu">
                              Best Seller
                            </a>
                            
                          </li>
                        </ul>
                    </div>   

                      <a class=" main-manu btn" data-toggle="collapse" href="#staticpages" role="button" aria-expanded="false" aria-controls="staticpages">
                          Pages
                       
                      </a>
                      <div class="sub-manu collapse multi-collapse" id="staticpages">
                        <ul class="unorder-list">
                            <li class="">
                              <a class="main-manu btn " data-toggle="collapse" href="#staticabout" role="button" aria-expanded="false" aria-controls="staticabout">
                                  About Us 
                                  
                              </a>
                              <div class="sub-manu1 collapse multi-collapse" id="staticabout">
                                <ul class="unorder-list">
                                    <li class="">
                                      <a href="about-page1.html" class="btn main-manu">
                                        About Us Page 1
                                      </a>
                                      <a href="about-page2.html" class="btn main-manu">
                                          About Us Page 2
                                        </a>
                                    </li>
                                </ul>    
                              </div> 
                              

                              <a class="main-manu btn " data-toggle="collapse" href="#staticcontact" role="button" aria-expanded="false" aria-controls="staticcontact">
                                  Contact Us
                                  
                              </a>
                              <div class="sub-manu1 collapse multi-collapse" id="staticcontact">
                                <ul class="unorder-list">
                                    <li class="">
                                      <a href="contact-page1.html" class="btn main-manu">
                                        Contact Us Page 1
                                      </a>
                                      <a href="contact-page2.html" class="btn main-manu">
                                        Contact Us Page 2
                                      </a>
                                    </li>
                                </ul>    
                              </div> 

                              <a class="main-manu btn" data-toggle="collapse" href="#staticlogin" role="button" aria-expanded="false" aria-controls="staticlogin">
                                Login
                                
                              </a>
                              <div class="sub-manu1 collapse multi-collapse" id="staticlogin">
                                <ul class="unorder-list">
                                    <li class="">
                                      <a href="login-page1.html" class="btn main-manu">
                                        Login Page 1
                                      </a>
                                      <a href="login-page2.html" class="btn main-manu">
                                        Login Page 2
                                      </a>
                                    </li>
                                </ul>    
                              </div>

                              <a class="main-manu btn " data-toggle="collapse" href="#staticblog" role="button" aria-expanded="false" aria-controls="staticblog">
                                  Blogs
                                  
                              </a>
                              <div class="sub-manu1 collapse multi-collapse" id="staticblog">
                                <ul class="unorder-list">
                                    <li class="">
                                      <a href="blog-page1.html" class="btn main-manu">
                                        Blog Page 1
                                      </a>
                                      <a href="blog-page2.html" class="btn main-manu">
                                          Blog Page 2
                                      </a>
                                    </li>
                                </ul>    
                              </div>

                              <a class="main-manu btn " data-toggle="collapse" href="#staticcart" role="button" aria-expanded="false" aria-controls="staticcart">
                                  Shopping Cart
                                  
                              </a>
                              <div class="sub-manu1 collapse multi-collapse" id="staticcart">
                                <ul class="unorder-list">
                                    <li class="">
                                      <a href="cart-page1.html" class="btn main-manu">
                                        Cart Page 1
                                      </a>
                                      <a href="cart-page2.html" class="btn main-manu">
                                        Cart Page 2
                                      </a>
                                    </li>
                                </ul>    
                              </div>

                              <a href="checkout.html" class="main-manu btn ">
                                Checkout
                              </a>
                            </li>
                        </ul>    
                      </div> 
                          
                      <a href="profile.html" class="main-manu btn ">
                        Profile
                      </a>
                      <a href="wishlist.html" class="main-manu btn ">
                        Wishlist (8)
                      </a>
                      <a href="compare.html" class="main-manu btn ">
                          Compare
                        </a>
                   
                      <a href="orders.html" class="main-manu btn ">
                        Orders
                      </a>
                      <a href="shipping-address.html" class="main-manu btn ">
                        Shipping Address
                      </a>
                </nav>
            </div>
            
        </div>

        

        <div class="col-8">
            <app-logo></app-logo>
        </div>
        
        <div class="col-2 pl-0">
            <div class="cart-dropdown dropdown">
              <a class="cart-dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                <span class="badge badge-secondary">2</span>
              </a>

              
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerOneCartButton">
                  <ul class="shopping-cart-items">
                      <li>
                        <div class="item-thumb">
                          
                          <div class="image">
                            <img class="img-fluid" src="assets/images/product_images/product_image_02.jpg" alt="Product Image">
                          </div>
                        </div>
                        <div class="item-detail">
                            <h2>Crystal Water Drop Earrings</h2>
                            <div class="item-s">2 x $285.00 <i class="fas fa-trash"></i></div>
                        </div>
                      </li>
                      <li>
                        <div class="item-thumb">
                          
                          <div class="image">
                            <img class="img-fluid" src="assets/images/product_images/product_image_03.jpg" alt="Product Image">
                          </div>
                        </div>
                        <div class="item-detail">
                            <h2>Crytal Wedding Function Rings</h2>
                            <span class="item-s">4 x $85.00 <i class="fas fa-trash"></i></span>
                        </div>
                      </li>
                      <li>
                          <span class="item-summary">Total&nbsp;:&nbsp;<span>$910.00</span>
                          </span>
                      </li>
                      <li>
                          <a class="btn btn-link btn-block " href="cart-page1.html">View Cart</a>
                          <a class="btn btn-secondary btn-block  swipe-to-top" href="checkout.html">Checkout</a>
                      </li>
                    </ul>
                  
                
              </div>
            </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="header-navbar bg-menu-bar">
    <div class="container">
      <form class="form-inline">
          <div class="search-field-module">                           
              <div class="search-field-select" >
                  <select class="form-control">
                    <option selected>All Categories</option>
                    <option value="1">Rings
&nbsp;</option>
                    <option value="1">Earrings&nbsp;</option>
                    <option value="1">Crowns&nbsp;</option>
                    <option value="1">Necklace&nbsp;</option>
                    <option value="1">Bracelet&nbsp;</option>
                    <option value="1">Anklet&nbsp;</option>
                    <option value="1">Hairpin&nbsp;</option>
                    <option value="2">Bangle&nbsp;</option>
                      </select>
              </div>
              <div class="search-field-wrap">
                  <input  type="search" placeholder="Search Products..." data-toggle="tooltip" data-placement="bottom" title="search item">
                  <button class="btn btn-secondary swipe-to-top" data-toggle="tooltip" data-placement="bottom" title="Search Products">
                  <i class="fa fa-search"></i></button>
              </div>
            </div>
      </form>
    </div>
  </div>
</header> 
